<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="keywords" content="Puyallup Watershed Initiative" />

{% seo %}

  <link rel="stylesheet" href="{{ site.baseurl }}{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <meta name="viewport" content="width=device-width">
  <!--[if IE 6]>
	  <style type="text/css" media="screen">
		  #mainContent #support {width: 497px;}
		  #memberLogin form {width: 256px;}
	  </style>
  <![endif]-->
  <!--[if IE 7]>
	  <style type="text/css" media="screen">
		  #memberLogin form {width: 256px;}
		  ul#nav li:hover ul {top: 26px;}
		  ul#nav ul li {width: 160px; margin-top: -4px;}
	  </style>
  <![endif]-->
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script async="" src="https://www.google-analytics.com/analytics.js"></script>
  <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-101784581-1', 'auto');
	  ga('send', 'pageview');
  </script>
</head>
