<div class="col-xs-12 col-md-2">
	<div class="voffset-top-icon">
		<a href="{{'/' | relative_url}}">
			<img alt="Stormwater"
			class="img-responsive center-block"
			src="{{'/assets/img/pwi_industrial_stormwater_icon.png' | relative_url }}">
		</a>
		<h2 class="white_h2 text-center">
			<a href="{{'/' | relative_url}}">Stormwater<br> Home</a>
		</h2>
	</div>

	<!-- <ul class='sidenav'>
		{% for category in site.data.nav %}
			{% if category.subcategories != null %}
				<li>
					<a href="{{ site.url }}{{ category.href }}" >{{ category.title }}</a>
				<ul>
					{% for subcategory in category.subcategories %}
					       <li><a href="{{ site.url }}{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
					{% endfor %}
			{% else %}
			  <li><a href="{{ site.url }}{{ category.href }}">{{ category.title }}</a>{% endif %}</li>
		{% endfor %}
	</ul> -->
</div>
