<nav class="navbar navbar-default" role="navigation">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myDefaultNavbar1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
	  <a class="navbar-brand" href="https://www.pwi.org/index.cfm?fuseaction=page.viewPage&pageID=4&nodeID=1">
		  <img src="{{ '/assets/img/pwi_logo_placeholder225.jpg' | relative_url}}" alt="Puyallup Watershed Initiative">
	  </a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->

  <div class="collapse navbar-collapse" id="myDefaultNavbar1">
  <div class="nav-wrapper">
  <ul class="nav navbar-nav">
	<li>
		<a href="https://www.pwi.org/index.cfm?fuseaction=page.viewPage&pageID=4&nodeID=1">
		  <img src="{{ '/assets/img/pwi-home-icon20.png' | relative_url}}" alt="home">
		</a>
	</li>
	<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About</a>
	  <ul class="dropdown-menu" role="menu">
		<li><a href="https://www.pwi.org/index.cfm?fuseaction=page.viewPage&pageID=538&nodeID=1">Mission, Vision, Values</a></li>
		<li><a href="https://www.pwi.org/index.cfm?fuseaction=page.viewPage&pageID=618&nodeID=1">Community Board</a></li>
		<li><a href="https://www.pwi.org/index.cfm?fuseaction=page.viewPage&pageID=540&nodeID=1">People</a></li>
		<li><a href="https://www.pwi.org/index.cfm?fuseaction=page.viewPage&pageID=539&nodeID=1">Contact Us</a></li>

	  </ul>
	</li>
	<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Communities of Interest</a>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	   <li><a href="https://www.pwi.org/index.cfm?fuseaction=page.viewPage&pageID=501&nodeID=1">Overview</a></li>
		<li><a href="https://www.pwi.org/index.cfm?fuseaction=page.viewPage&pageID=502&nodeID=1">Active Transportation</a></li>
		<li><a href="https://www.pwi.org/index.cfm?fuseaction=page.viewPage&pageID=510&nodeID=1">Agriculture</a></li>
		<li><a href="https://www.pwi.org/index.cfm?fuseaction=page.viewPage&pageID=516&nodeID=1">Environmental Education</a></li>
		<li><a href="https://www.pwi.org/index.cfm?fuseaction=page.viewPage&pageID=522&nodeID=1">Forests</a></li>
		<li><a href="/">Stormwater</a></li>
		<li><a href="https://www.pwi.org/index.cfm?fuseaction=page.viewPage&pageID=532&nodeID=1">Just and Healthy Food System</a></li>

	  </ul>
	</li>
	<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">News and Resources</a>
	  <ul class="dropdown-menu" role="menu">
		<li><a href="https://www.pwi.org/index.cfm?fuseaction=page.viewPage&pageID=581&nodeID=1">News</a></li>
		<li><a href="https://www.pwi.org/index.cfm?fuseaction=page.viewPage&pageID=579&nodeID=1">Photos and Videos</a></li>
		<li><a href="https://www.pwi.org/index.cfm?fuseaction=page.viewPage&pageID=580&nodeID=1">Downloads</a></li>
	  </ul>
	</li>
	<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Get Involved</a>
	  <ul class="dropdown-menu" role="menu">
		<li><a href="https://www.pwi.org/index.cfm?fuseaction=page.viewPage&pageID=509&nodeID=1">Find an Event</a></li>
		<li><a href="https://www.pwi.org/index.cfm?fuseaction=page.viewPage&pageID=568&nodeID=1">Newsletter Sign-up</a></li>
		<li><a href="https://www.pwi.org/index.cfm?fuseaction=page.viewPage&pageID=482&nodeID=1">Make a Donation</a></li>
		<li><a href="https://www.pwi.org/index.cfm?fuseaction=page.viewPage&pageID=548&nodeID=1">Request Information</a></li>
	  </ul>
	</li>
	<li class="highlight"><a href="https://www.pwi.org/index.cfm?fuseaction=page.viewPage&pageID=482&nodeID=1">DONATE NOW</a></li>
  </ul>

  <!-- Start Search Form -->
  <!-- <script language="JavaScript" type="text/javascript">
	  // Disable this button and submit form and display message if they are supplied
	  function disableButton (oMyButton, oMyForm, sMessage)
	  {
		//alert(typeof(sMessage));
		if (typeof(sMessage)!='undefined')
		{
			document.getElementById(sMessage).style.visibility='visible';
		}
		oMyButton.disabled=true;
		if (typeof(oMyForm)=='object') // If a form is supplied, then submit it
		{
			oMyForm.submit();
		}
	  }

	  function stopRKey(evt) {
	  var evt = (evt) ? evt : ((event) ? event : null);
	  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
	  if ((evt.keyCode == 13) && (node.type=="text"))  {return false;}
	  }

	  document.onkeypress = stopRKey;
  </script>


  <form name="simpleSearchForm" id="simpleSearchForm" action="/index.cfm?fuseaction=simplesearch2.processarguments2" method="post" maxlength="100" class="navbar-form navbar-right" role="search">
	<div class="form-group">
	  <input type="text" name="searchanyofwords" value="" class="form-control" placeholder="Search">
	  <input type="button" value="Go" class="appInputButton" onclick="disableButton(this, document.getElementById('simpleSearchForm'), 'processMsg');" /><br />
	 <span id="processMsg" style="color:ff0000;font-weight:bold;font-size:11px;visibility:hidden;">Searching...  May Take A Few Moments</span>
	 <script language="JavaScript" type="text/javascript">
		document.getElementById('processMsg').style.visibility='hidden';
	 </script>
	</div>
  </form> -->


  <div class="social-icons-sprite">
	  <a class="fb" href="https://www.facebook.com/PuyallupWatershed">Facebook</a>
	  <a class="tw" href="http://twitter.com/puyallupwater">Twitter</a>
	  <a class="ig" href="http://instagram.com/puyallupwatershed">Instagram</a>
	  <a class="vi" href="https://vimeo.com/puyallupwatershed">Vimeo</a>
  </div>
  <!-- End Search Form -->

  </div>
  <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
