<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body data-spy="scroll" data-target=".navbar-default">
	{% include nav.html %}
	<div id="primary-content" class="c1">
		<section>
			{% include jumbotron.html %}
		</section>
		<section>
			<div class="container-fluid background-blue-container2 neg-voffset-top-30">
				<div class="row">
					{% include left_bar.html %}
					<div class="col-xs-12 col-md-10 background-white">
						<!-- main section -->
						<div class="row side-padding4">
							<div class="col-xs-12 col-md-8 side-padding5 voffset-bottom-55">
								{{ content }}
							</div>
							<div class="col-xs-12 col-md-4 side-padding4">
								<figure>
									<img alt="{{page.title}}"
									class="img-responsive center-block voffset-top-95"
									src="{{ page.contents['image']}}" width="450" height="338">
									<figcaption class="voffset-top-10">
										{{ page.contents['image_caption'] | markdownify }}<br>
									</figcaption>
								</figure>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	{% include footer.html %}
  </body>
</html>
